@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;900&display=swap');

:root {
  --carmine-pink: #ec5242;
  --light-gray: #d3d3d3;
  --bright-gray: #efefef;
  --charleston-green: #272a31;
  --granite-gray: #616161;
  --phillipine-gray: #8c8c8c;
  --arsenic: #3C3F46;
  --cultured: #f4f4f4;
  --page-background:linear-gradient(90deg, rgba(244,244,244,1) 1%, rgba(211,211,211,1) 99%);
  --urbanist-font: 'Urbanist', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--bright-gray);
}

img {
  max-width: 100%;
}

.login_section {
  display: none;
}

main {
  width: 100%;
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: column;
}

h1 {
  display: none;
}

h1 a {
  text-decoration: none;
  color: var(--charleston-green);
}

.menu_icon {
  width: 50px;
  cursor: pointer;
  z-index: 2;
  margin-left: 1em;
}

nav {
  visibility: visible;
  overflow: hidden;
  width: 0;
  position: fixed;
  height: 100%;
  transition: width 1s ease-in-out;
  background-color: var(--bright-gray);
  z-index: 1;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding-top: 3em;
  padding-right: 10px;
}

nav li {
  padding: 10px 14px;
  font-weight: 600;
  position: relative;
}

nav li a {
  text-decoration: none;
  color: var(--charleston-green);
  font-size: 2rem;
}

nav li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  transition: width 0.5s ease-in-out;
}

nav > ul li a:hover::after {
  border-bottom: 2px solid var(--carmine-pink);
  width: 100%;
}

.show_menu {
  width: 100%;
}

.headline_section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1em;
}

.headline_section h2 {
  font-size: 2.5rem;
  background-image: url(./img/red-clouds-image.jpg);
  background-clip: text;
  font-weight: 700;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  margin-top: 1em;
}

.headline_section > p {
  color: var(--granite-gray);
  padding: .8em;
  border: 3px solid white;
  font-size: 0.8rem;
  font-weight: 700;
  width: 90%;
  margin-top: 1em;
}

.concert_date {
  color: var(--granite-gray);
  font-family: 'Urbanist', sans-serif;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}

.concert_date b { 
  font-weight: 900;
  font-size: 1.5rem;                        
}

.concert_date p {
  font-weight: 500;
  font-size: 0.9rem;
}

.main_program, .featured_artists, .card {
  display: grid;
  place-items: center;
  background-color: var(--charleston-green);
  padding: 2em 0.7em;
  gap: 20px;
}

.main_program h2 {
  color: var(--cultured);
  font-size: 1.3rem;
}

.red_line {
  border: 1px solid var(--carmine-pink);
  width: 50px;
  border-radius: 3px;
}

.main_program ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.main_program ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  padding: 0.6em;
  background-color: var(--arsenic);
}

.main_program ul li h3 {
  color: var(--carmine-pink);
  font-size: 1rem;
  margin-left: 1em;
}

.main_program ul li > p {
  color: var(--light-gray);
  text-align: left;
  font-size: 0.8rem;
  width: 40%;
}

.program_icon {
  width: 50px;
  filter: brightness(0) invert(1);
}

.tickets {
  display: block;
  color: var(--cultured);
  background-color: var(--carmine-pink);
  text-align: center;
  padding: 1.5em;
  width: 88%;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 700;
  margin-block-start: 1em;
}

.featured_artists {
  display: grid;
  place-items: center;
  gap: 20px;
  background-color: var(--cultured);
}

.container {
  display: grid;
  gap: 20px;
  height: 250px;
  overflow: hidden;
  width: 375px;
  transition: height 0.5s ease-in-out;
}

.slide_down {
  height: 50em;
}

.featured_artists > h2 {
  color: var(--charleston-green);
}

.featured_artists .red_line {
  margin-top: -1em;
}

.featured_artists > .container > article {
  display: flex;
  gap: 10px;
}

.featured_artists > .container .image_container {
  flex: 0 0 150px;
}

.featured_artists > .container .image_container > img{
  height: 100%;
}

.celebrity_details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 40%;
  margin-top: -2px;
}

.celebrity_name {
  color: var(--charleston-green);
}

.celebrity_title {
  color: var(--carmine-pink);
  font-size: 0.8rem;
  font-family: var(--urbanist-font);
}

.celebrity_info {
  font-size: 1rem;
  font-family: var(--urbanist-font);
}

.black_line {
  display: block;
  border: 1px solid var(--granite-gray);
  border-radius: 3px;
  width: 20px;
}

.more_button {
  text-transform: uppercase;
  appearance: none;
  padding-block: 1em;
  width: min(90%, 375px);
  margin-right: 2em;
  background: none;
  outline: none;
  border: 1px solid var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dropdown {
  width: 15px;
}

.rotate {
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  .log_section {
    display: block;
  }

  .login_section ul {
    list-style-type: none;
    display: flex;
  }
}